__pycache__/
*.pyc
*.pyo
*.pyd

env/
.venv/
venv/

.vscode/
.idea/


*.aux
*.tex
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bcf
*.run.xml
*.blg
*.bbl
*.xdv
*.synctex.gz
*.fdb_latexmk

*.bak
*.tmp
